body {
  margin: 0 auto;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

a {
  color: steelblue;
  font-size: 1.3em;
}

a:hover {
  color: black;
}

.salon-img {
  max-height: 70vh;
}

.btn {
  background-color: steelblue;
  color: white;
  padding: 10px 15px;
  margin: 10px;
  font-size: 1.2em;
}

.links {
  width: 100%;
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}
