@{
  Layout = "_Layout";
}

<h1>Welcome to the Hair Salon!</h1>

<div class="content">
  <img class="salon-img" src="~/img/salon.jpg" alt="salon">
</div>

<div class="links">
  <h4>@Html.ActionLink("See All Stylists", "Index", "Stylists")</h4>
</div>
