@{
  Layout = "_Layout";
}
@model HairSalon.Models.Client

<h1>Delete Client</h1>

<div class="content">
  <h2>Are you sure you want to delete @Html.DisplayFor(model => model.Name)?</h2>
  
  @using (Html.BeginForm())
  {
      @Html.Hidden("stylistId", new { id = ViewBag.StylistId })

      <input type="submit" value="Delete" class="btn"/>
  }
</div>

<div class="links">
  @Html.ActionLink("Back to clients", "Details", "Stylists", new {id = Model.StylistId})
</div>
