@{
  Layout = "_Layout";
}
@model HairSalon.Models.Client

<h1>Client Details</h1>
<hr />

<div class="content">
  <h4>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h4>
  <h4>Stylist: @Model.Stylist.Name</h4>
</div>

<div class="links">
  <p>@Html.ActionLink("Back to clients", "Details", "Stylists", new { id = Model.StylistId })</p>
</div>
